<html>
<script type="text/javascript">
</script>
  <head>
	<title><p id="update"></p>Pic-cho ~Create Your Cloud Album~</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, maximum-scale=1"/>
	<link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/piccho.js">
	  setInterval("updateCheck()", 30000)
	  function updateCheck(){
	  }
	</script>
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-22481852-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

		</script>
  </head>
  <body>
	<p id="notify" bg-color="ff0000"></p>
	<div id="wrapper">
	<div id="list">
	  <form action="/pass" method="post">
	<ul>
	  <li>
		<img src="/img/user.jpg" width=20><font color="ff0000">hello, <b>{{ name }}</b></font></img>
	  </li>
	  <li>
		{% if isPass %}
		<img src="/img/unlock.jpg" width=20></img>
		password: <input type="text" name="pass" size="10"><input type="submit" value="Lock">
		{% else %}
		<img src="/img/lock.jpg" width=20></img><input type="submit" value="Unlock">
		{% endif %}
	  </li>
	  <li>
	  	<a href="/"><img src="/img/logout.jpg" width=30></img></a>
	  </li>
	</ul>
		</form>
	</div>

	<div id="menu">
	<div id="logo">
	  <a href="/"><img src="/img/piccho_logo.jpg" border="0"></img></a>
	  <a href="http://twitter.com/share" class="twitter-share-button" data-url="http://pic-cho.appspot.com/" data-count="horizontal">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
	</div>
	<form action="/change" method="post">
	<h1>
	  {% if not isPass %} <img src="/img/lock.jpg" width=20></img>{% endif %}
	  #{{ tag|striptags }}
	  <input type="text" name="pass" size="10"><input type="submit" value="Modify">
	</h1>
	</form>
	this room's members:
	{% for member in members %}
	<div>- {{ member|striptags }}</div>
	{% endfor%}
	</div>

	<div id="menu">
	  <h3>INSTRUCTIONS:-)</h3>
      <div id="intro"><img src="/img/piccho_intro.jpg"></div>
	  <font color="666666">
		1.Share #TAG with your Friends (No Sign up)<br>
		2.Edit Images & Comments on the Web.<br>
		3.You will get Your Original Web Album :-)<br><br>
	<form action="/sign" enctype="multipart/form-data" method="post">
      <div><input type="file" name="img"/></div>
	  <div><textarea name="content" rows="2" cols="30"></textarea></div>
      <div><input type="submit" value="Post"></div>
    </form>

	<div align="right">
	<form action="/order" method="post">
	  Order:
	  <select name="order">
		<option value="modify">New Modify
		<option value="new">New Pic
		<option value="old">Old Pic
	  </select>
	</form>
	</div>
	</div>

	{% for ab in lists %}
	<div id="img">
	<div><img src='http://pic-cho.appspot.com/img?img_id={{ ab.0.key }}'></div>
	<div>
	  <form action="/rmimg" method="post">
		<font color='ff3300'> {{ ab.0.author|striptags }} ({{ ab.0.date }})</font>
		<input type="hidden" name="key" value={{ ab.0.key }}>
		<a href="http://twitter.com/share" class="twitter-share-button" data-url="http://pic-cho.appspot.com/img?img_id={{ ab.0.key }}" data-count="horizontal" data-via="hamhei" data-related="pic_cho">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
		<input type="submit" value="Remove">
	  </form>
	</div>
	{% for tweet in ab.1 %}
	<form action="/rmtweet" method="post">
	  <div id="comment">
	  {{ tweet.content|striptags }}<font color="666666">({{ tweet.author|striptags }})</font>
	  <input type="hidden" name="key" value={{ tweet.key }}>
	  <input type="submit" value="Remove">
	  </div>
	</form>
	{% endfor %}
	<form action="/comment" method="post">
	  <div><textarea name="comment" rows="1" cols="30"></textarea>
	  <input type="hidden" name="key" value={{ ab.0.key }}>
	  <input type="submit" value="comment"></div>
	</form>
	</div>
    {% endfor %}
	<br>
	</div>
  </body>
</html>
