<html>
<script type="text/javascript">
</script>
  <head>
	<link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-22481852-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

		</script>
  </head>
  <body>
	<div id="list">
	  <form action="/change" method="post">
	<ul>
	  <li>
		Change Tag:
		  <input type="hidden" name="name" value={{ name }}>
		  <input type="hidden" name="tag" value={{ tag }}>
		  <textarea name="newtag" rows="1" cols="10"></textarea><input type="submit" value="change">
	  </li>
	  &nbsp; &nbsp;
	  <li>
	  	<a href="/">Logout</a>
	  </li>
	</ul>
		</form>
	</div>

	<div id="menu">
	<a href="/"><img src="/img/piccho_logo.png"></img></a>
	<h1>#{{ tag }}</h1>
	<font color="ff3300">Hello, {{ name }}</font>
	<br><br>
	this room's members:
	{% for menber in menbers %}
	<div>- {{ menber }}</div>
	{% endfor%}
	</div>

	<div id="menu">
	<h3>INSTRUCTIONS:-)</h3>
    1.Create & Share #TAG with your Friends (Not need any accounts!)<br>
	2.Share Images with Context & Comment to Friend's on the Web.<br>
	3.Found yourself, You will have the Original Cloud Album :-)<br><br>

	<form action="/sign" enctype="multipart/form-data" method="post">
      <div><input type="file" name="img"/></div>
	  <div><textarea name="content" rows="2" cols="50"></textarea></div>
	  <input type="hidden" name="name" value={{ name }}>
	  <input type="hidden" name="tag" value={{ tag }}>
      <div><input type="submit" value="Post"></div>
    </form>
	</div>

	<br>
	{% for ab in lists %}
	<div id="img">
	<div><img src='http://pic-cho.appspot.com/img?img_id={{ ab.0.key }}'></div>
	<div>
	  <font color='ff3300'> {{ ab.0.author }} ({{ ab.0.date }})</font>
	  <form action="/rmimg" method="post">
		<input type="hidden" name="key" value={{ ab.0.key }}>
		<input type="hidden" name="name" value={{ name }}>
		<input type="hidden" name="tag" value={{ tag }}>
		<input type="submit" value="Remove">
	  </form>
	</div>
	{% for tweet in ab.1 %}
	<div><font color='000000'> {{ tweet.content }}({{ tweet.author }})</font></div>
	{% endfor %}
	<form action="/comment" method="post">
	  <div><textarea name="comment" rows="1" cols="30"></textarea>
	  <input type="hidden" name="key" value={{ ab.0.key }}>
	  <input type="hidden" name="name" value={{ name }}>
	  <input type="hidden" name="tag" value={{ tag }}>
	  <input type="submit" value="comment"></div>
	</form>
	</div>
    {% endfor %}
	<br>
  </body>
</html>
