body {
  font-family: Verdana, Helvetica, sans-serif;
  background-color: #FFFF33;
}

div#wrapper {
  width: 600px + 100px;
  height: auto;
  background-color: #FFFFFF;
  border-radius: 5px;
  padding: 0px 15px;
  margin: 0px 50px;
}

div#img {
  width: auto;
  height: auto;
  background-color: #FFFFFF;
  border: thin #666666 solid;
  padding: 15px 15px;
  margin: 10px 0px;
}

div#comment {
  border-bottom: thin #666666 solid;
  margin-bottom: 5px;
}

div#list {
  text-align: right;
  margin: 5px 10px;
}
div#list ul {
  font-size: 14px;
  font-family: Georgia, Times, serif;
}
div#list ul li {
  display: inline;
}
div#list li{ margin: 0px 10px; }
div#list ul li:after {}
div#list ul li.last:after {}

div#menu {
  width: auto;
  height: auto;
  padding: 15px 15px;
  margin: 10px 0px;
  font-weight: bold;
  font-family: Georgia, Times, serif;
}

div#inst {
  width: auto;
  height: auto;
  padding: 15px 15px;
  margin: 10px 0px;
  font-weight: bold;
}

